body{
}
.header{
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #DFDFDF;
    top: 0;
    display: flex;
    z-index: 2019;
}
.header .logo{
    margin-left: 20px;
}

.header .menu-items{
    display: flex;
    align-items: center;
}
.header .menu-items a{
    color: #444b58;
    margin-right: 20px;
    font-size: 20px;
}
.header .menu-items a:hover{
    color: #818c9e;
}
.banner{
    height: calc(100vh - 80px);
    background-image: url(../assets/image/bg.jpg);
    width: 100%;
    background-size: cover;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.banner .content{
    overflow: hidden;
    z-index: 2;
    padding: 20px;
}

.banner .content .title{
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

.banner .content .orange-line{
    background: #ffc015 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: auto;
    width: 100px;
}

.banner .content .text-decription{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    width: 75%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.banner .content .home_docs_btn{
    display: block;
    margin: 30px auto auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.banner .content .home_docs_btn a{
    background: #ffc015;
    border: 2px solid #ffc015;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 10px 40px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.banner .content .home_docs_btn a:hover{
    background: #732cf9;
    color: #fff;
    border: 2px solid #732cf9;
    text-decoration: none;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(4, 11, 35, 0.5), rgba(23, 29, 53, 0.8)) repeat scroll 0 0;
}
#particles-js canvas{
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
}

#btn_auto,#btn_manual{
    min-width: 100px;
}

.content_control{
    background: #fff;
    box-shadow: 3px 3px 10px #2f9a8b;
}

.content_control .label-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: italic;
}

.row-control{
    margin: 15px 0;
}

.auto-btn{
    margin-left: 16px;
    margin-right: 16px;
    min-width: 100px;
}

.row-control .value-auto{
    text-align: center;
    margin-top:15px;
}

.row-control .value-auto .real-val{
    font-weight: bold;
    font-size: 40px;
    color: #2666bb;
}

.row-control .value-auto .label-auto{
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

.switch {  
    /* Background of Switch */
    position:relative;
    width:240px;
    height:40px;
    -webkit-appearance: none;
    background: #e5e5e5;
    outline:none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 1px 1px 5px #999;
  }
  .switch.vertical{
    transform: rotate(90deg);
  }
  .switch:hover {
    background: #e7e7e7;
  }
  .switch:checked {
    /* Background when Checked */
    background: green;
  }
  .switch:before {
    /* white circle */
    content:'';
    position:absolute;
    top: 2.5px;
    left: 2.5px;
    height:35px;
    width:35px;
    border-radius: 50%;
    background: #fff;
    transition: .9s;
  }
  .switch:checked:before {
    left: 202.5px;
  }

  .div-xilanh{
      display: flex;
      align-items: center;
      width: 400px;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 15px;
  }
  .div-xilanh .label-xilanh{
    font-size: 25px;
    color: gray;
    min-width: 150px;
  }
.banner .content.content_control .title{
    color: #000000;
}

/* record */

.record-area{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100px;
    bottom: 15px;
}
.record-flex{
    display: flex;
    align-items: flex-end;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.language_chooser{
    margin-left: 30px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.command-text{
    width: 300px;
    height: 40px;
    background: white;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 10px;
    align-items: center;
    font-size: 17px;
    padding: 8px;
}

.frame {
    position: relative;
    /* bottom: 30px; */
    /* left: 30px; */
    margin-left: 60px;
    width: 100px;
    height: 100px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #2413b1;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    z-index: 999;
  }
  
  .checkbox {
    display: none;
  }
  .frame.circling .microphone .circle {
    -webkit-animation: circle 5s linear infinite;
            animation: circle 5s linear infinite;
  }
  .frame.circling .microphone .icon {
    -webkit-animation: icon .7s ease-in-out both;
            animation: icon .7s ease-in-out both;
  }
  .frame.circling .microphone .dots {
    -webkit-animation: dots 1s ease-in-out both;
            animation: dots 1s ease-in-out both;
  }
  .frame.circling .microphone .dot-1 {
    -webkit-animation: dot 1s ease-in-out infinite;
            animation: dot 1s ease-in-out infinite;
  }
  .frame.circling .microphone .dot-2 {
    -webkit-animation: dot 1s ease-in-out -0.2s infinite;
            animation: dot 1s ease-in-out -0.2s infinite;
  }
  .frame.circling .microphone .dot-3 {
    -webkit-animation: dot 1s ease-in-out -0.4s infinite;
            animation: dot 1s ease-in-out -0.4s infinite;
  }
  
  

  .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    cursor: pointer;
  }
  
  .microphone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
  }
  .microphone .circle {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .microphone .icon {
    position: absolute;
    width: 24px;
    height: 66px;
    top: 16px;
    left: 38px;
  }
  .microphone .icon .body {
    position: relative;
    width: 24px;
    height: 52px;
    background: #fff;
    border-radius: 12px;
  }
  .microphone .icon .body .fill {
    position: relative;
    width: 6px;
    height: 16px;
    top: 7px;
    left: 9px;
    background: #2413b1;
    border-radius: 3px;
  }
  .microphone .icon .foot_v {
    position: absolute;
    width: 4px;
    height: 15px;
    top: 51px;
    left: 10px;
    background: #fff;
  }
  .microphone .icon .foot_h {
    position: absolute;
    width: 24px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 2px;
  }
  .microphone .dots {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 10px;
    top: 45px;
    left: 25px;
  }
  .microphone .dots .dot {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
  }
  .microphone .dots .dot-2 {
    margin: 0 10px;
  }
  
  @-webkit-keyframes circle {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 296 296;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      stroke-dashoffset: -592;
      stroke-dasharray: 296 296;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes circle {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 296 296;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      stroke-dashoffset: -592;
      stroke-dasharray: 296 296;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes not_circle {
    0% {
      
    }
    100% {
      
    }
  }

  @-webkit-keyframes dot {
    0% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  @keyframes dot {
    0% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  @-webkit-keyframes icon {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    30% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes icon {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    30% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes dots {
    0%, 60% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes dots {
    0%, 60% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  

@media (max-width:767px){
    .banner{
      height: calc(100vh - 60px);
      margin-top: 60px;
      align-items: flex-start;
    }
    #particles-js{
      height: calc(100vh - 60px);
      top: 60px;
    }
    .banner .content .title{
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .banner .content{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .header{
      height: 60px;
    }
    .header .logo{
        width: 80px;
    }
    .row-control .value-auto{
        display: flex;
        text-align: left;
        align-items: center;
    }
    .row-control .value-auto .label-auto{
        min-width: 120px;
    }
    .row-control .value-auto .real-val{
        margin: auto;
    }
    .div-xilanh{
        display: block;
    }
    .br-class{
      display: none;
    }
    .record-flex{
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .frame{
      margin-left: 20px;
      width: 50px;
      height: 50px;
    }
    .microphone{
      width: 50px;
      height: 50px;
    }
    .microphone svg{
      width: 50px;
      height: 50px;
    }
    .microphone .icon{
      width: 11px;
      height: 36px;
      top: 6px;
      left: 20px;
    }
    .microphone .icon .body{
      width: 10px;
      height: 25px;
    }
    .microphone .icon .body .fill{
      width: 4px;
      height: 8px;
      top: 5px;
      left: 3px;
    }
    .microphone .icon .foot_v{
      width: 4px;
      height: 10px;
      top: 23px;
      left: 3px;
    }
    .microphone .icon .foot_h{
      width: 12px;
      height: 3px;
      bottom: 0;
      left: -1px;
    }
    .microphone .dots{
      width: 25px;
      height: 10px;
      top: 20px;
      left: 13px;
    }
    .microphone .dots .dot{
      width: 5px;
      height: 5px;
    }
    .microphone .dots .dot-2{
      margin: 0 5px;
    }
    .language_chooser{
      margin-left: 20px;
      width: 200px;
      height: 30px;
      font-size: 13px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 5px 15px;
    }
    .command-text{
      margin-right: 10px;
      width: 100%;
      margin-top: 10px;
      font-size: 15px;
    }
}